.nav {
    grid-area: n;
    background-color: #0f94b6;
    padding: 15px;
}

.item {
    color: white;
    font-weight: normal;
}

.item:hover {
    color: #FFBA73;
}

.item {
    text-decoration: none;
    color: white;
}

.activeLink {
    text-decoration: none;
    color: #f3cb86;
    font-weight: bolder;
}